<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?py if (replythread and threads) or board: ?>
  <title>#{board_name}@Bienvenido a Internet Móvil</title>
<?py else: ?>
  <title>Bienvenido a Internet Móvil</title>
<?py #endif ?>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="#{static_url}img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="#{static_url}css/mobile.css?v=6" />
  <script type="text/javascript" src="#{static_url}js/mobile.js?v=7"></script>
</head>
