<?py include('templates/mobile/base_top.html') ?>
<body class="img"><a name="top"></a>
<div class="nav"><div><a href="//m.bienvenidoainternet.org">Home</a><a href="#{cgi_url}mobile/#{board}/">Volver</a><a href="#form">&#9660;</a></div></div>
<?py for thread in threads: ?>
<div id="thread">
<?py for post in thread['posts']: ?>
  <?py if post['IS_DELETED'] == "1": ?>
  <div class="pst"><h3 class="del"><a name="#{post['id']}"></a>No.#{post['id']} eliminado por el usuario.</h3></div>
  <?py elif post['IS_DELETED'] == "2": ?>
  <div class="pst"><h3 class="del"><a name="#{post['id']}"></a>No.#{post['id']} eliminado por miembro del staff.</h3></div>
  <?py else: ?>
  <?py if post['parentid'] == "0": ?>
    <div class="first"><h1>#{post["subject"]} <span>(#{thread['length']})</span></h1>
  <?py else: ?>
    <div class="pst">
    <?py if post['subject']: ?>
      <h2>#{post["subject"]}</h2>
    <?py #endif ?>
  <?py #endif ?><h3><a href="#" class="num" name="#{post['id']}">#{post['id']}</a>#{post['name']} #{post['tripcode']} #{post['timestamp_formatted']}</h3>
  <?py if post['file']: ?><a href="/#{board}/src/#{post['file']}" target="_blank" class="thm"><img src="/#{board}/mobile/#{post['thumb']}" /><br />#{int(post['file_size'])//1024}KB #{post['file'].split(".")[1].upper()}</a><?py #endif ?> 
  <div class="msg">#{post['message']}</div></div>
  <?py #endif ?>
<?py #endfor ?>
<?py if threads[0]['posts'][0]['locked'] != "1": ?>
<a href="./#{thread['id']}" id="n">Recargar</a><span id="n2"></span>
<?py #endif ?>
<div class="nav"><div><a href="//m.bienvenidoainternet.org">Home</a><a href="#{cgi_url}mobile/#{board}/">Volver</a><a href="#top">&#9650;</a></div></div>
<?py if threads[0]['posts'][0]['locked'] == "1": ?>
  <div class="warn red" style="text-align:center;">El hilo ha sido cerrado. Ya no se puede postear en &eacute;l.</div>
<?py else: ?>
<form name="postform" id="postform" action="/cgi/post" method="post" enctype="multipart/form-data">
  <input type="hidden" name="board" value="#{board}" /><input type="hidden" name="parent" value="#{replythread}" /><input type="hidden" name="mobile" value="true" /><input type="hidden" name="password" value="" />
  <div style="display:none;"><input type="text" name="name" /><input type="text" name="email" /></div>
  <?py if not disable_subject: ?>
  <input class="fld" type="text" name="subject" placeholder="Asunto (opcional)" />
  <?py #endif ?>
  <?py if not disable_name: ?>
  <input class="fld" type="text" name="fielda" placeholder="Nombre (opcional)" />
  <?py #endif ?>
  <input class="fld" type="text" name="fieldb" placeholder="E-mail (opcional)" />
  <textarea name="message" rows="6"></textarea>
<?py if allow_image_replies: ?>
  <div class="file"><input type="file" name="file" class="fld" />
  <?py if allow_spoilers: ?>
    <label class="fld"><input type="checkbox" name="spoil" /> Spoiler</label>
  <?py #endif ?></div>
<?py #endif ?>
  <input id="post" type="submit" value="Responder" />
</form>
<?py #endif ?>
</div>
<?py #endfor ?>
<a name="form"></a>
</body>
</html>