<?py include('templates/mobile/base_top.html') ?>
<body class="img">
<div class="top">
  <a href="//m.bienvenidoainternet.org"><img src="#{static_url}css/img/0back.png" /><br />Home</a>
  #{board_name}
</div>
<?py if mode == 1: ?>
  <div class="bar"><a href="#{cgi_url}mobile/#{board}" class="sel">Portada</a><a href="#{cgi_url}mobilelist/#{board}">Lista</a><a href="#{cgi_url}mobilecat/#{board}">Cat&aacute;logo</a><a href="#{cgi_url}mobilenew/#{board}">Nuevo hilo</a></div>
  <?py for thread in more_threads: ?>
  <div class="prev">
  <a href="#{cgi_url}mobileread/#{board}/#{thread['id']}"><img class="thm" src="/#{board}/mobile/#{thread['thumb']}" />
  <b>#{thread["subject"]}</b> (R:#{int(thread["length"])-1})</a>
  <h3>#{thread['name']} #{thread['tripcode']} #{thread['timestamp_formatted']}</h3>
  #{thread['message']}#{" [...]" if thread['shortened'] else ""}
  <?py if thread['lastreply']: ?>
  <div class="pst"><h3>#{thread['lastreply']['name']} #{thread['lastreply']['tripcode']} #{thread['lastreply']['timestamp_formatted']}</h3>
  #{thread['lastreply']['message']}#{" [...]" if thread['lastreply']['shortened'] else ""}</div>
  <?py #endif ?>
  </div>
  <?py #endfor ?>
<?py elif mode == 2: ?>
  <div class="bar"><a href="#{cgi_url}mobile/#{board}">Portada</a><a href="#{cgi_url}mobilelist/#{board}" class="sel">Lista</a><a href="#{cgi_url}mobilecat/#{board}">Cat&aacute;logo</a><a href="#{cgi_url}mobilenew/#{board}">Nuevo hilo</a></div>
  <div class="search"><input id="search" placeholder="Buscar en asuntos" style="padding:7px;" type="text"></div>
  <div class="ord">
  <?py if i_sort == '': ?>
    <span>Orden:</span><a href="?">&#10003; Normal</a><a href="?sort=3">Más</a><a href="?sort=4">Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '3': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">&#10003; Más</a><a href="?sort=4">Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '4': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">Más</a><a href="?sort=4">&#10003; Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '1': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">Más</a><a href="?sort=4">Menos</a><a href="?sort=1">&#10003; Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '2': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">Más</a><a href="?sort=4">Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">&#10003; Viejo</a>
  <?py #endif ?>
  </div>
  <div class="list">
    <?py for thread in more_threads: ?>
    <a href="#{cgi_url}mobileread/#{board}/#{thread['id']}"><strong>#{thread["subject"]}</strong>: #{thread['message']}#{" [...]" if thread['shortened'] else ""}<br />
    <span class="info"><span>&Uacute;ltima: #{thread['lastreply']['timestamp_formatted'] if thread['lastreply'] else thread['timestamp_formatted']}</span> Respuestas: <b>#{int(thread["length"])-1}</b></span></a>
    <?py #endfor ?>
  </div>
<?py else: ?>
  <div class="bar"><a href="#{cgi_url}mobile/#{board}">Portada</a><a href="#{cgi_url}mobilelist/#{board}">Lista</a><a href="#{cgi_url}mobilecat/#{board}" class="sel">Cat&aacute;logo</a><a href="#{cgi_url}mobilenew/#{board}">Nuevo hilo</a></div>
  <div class="search"><input id="catsearch" placeholder="Buscar en catálogo" style="padding:7px;" type="text"></div>
  <div class="ord">
  <?py if i_sort == '': ?>
    <span>Orden:</span><a href="?">&#10003; Normal</a><a href="?sort=3">Más</a><a href="?sort=4">Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '3': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">&#10003; Más</a><a href="?sort=4">Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '4': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">Más</a><a href="?sort=4">&#10003; Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '1': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">Más</a><a href="?sort=4">Menos</a><a href="?sort=1">&#10003; Nuevo</a><a href="?sort=2">Viejo</a>
  <?py elif i_sort == '2': ?>
    <span>Orden:</span><a href="?">Normal</a><a href="?sort=3">Más</a><a href="?sort=4">Menos</a><a href="?sort=1">Nuevo</a><a href="?sort=2">&#10003; Viejo</a>
  <?py #endif ?>
  </div>
  <div style="text-align:center;margin-top:0.5em;">
  <?py for thread in more_threads: ?><a class="cat" href="#{cgi_url}mobileread/#{board}/#{thread['id']}"><img src="/#{board}/mobile/#{thread['thumb']}" /><br />(#{int(thread["length"])-1}R) <strong>#{thread["subject"]}</strong>: #{thread['message']}#{" [...]" if thread['shortened'] else ""}</a><?py #endfor ?>
  </div>
<?py #endif ?>
</body>
</html>