<?py include('templates/mobile/base_top.html') ?>
<body class="#{"txt" if board_type == '1' else "img"}">
<div class="top">
  <a href="//m.bienvenidoainternet.org"><img src="#{static_url}css/img/0back.png" /><br />Home</a>
  #{board_name}
</div>
<?py if board_type == '1': ?>
<div class="bar"><a href="#{cgi_url}mobile/#{board}">Portada</a><a href="#{cgi_url}mobilelist/#{board}">Todos los hilos</a><a href="#{cgi_url}mobilenew/#{board}" class="sel">Nuevo hilo</a></div>
<?py else: ?>
<div class="bar"><a href="#{cgi_url}mobile/#{board}">Portada</a><a href="#{cgi_url}mobilelist/#{board}">Lista</a><a href="#{cgi_url}mobilecat/#{board}">Cat&aacute;logo</a><a href="#{cgi_url}mobilenew/#{board}" class="sel">Nuevo hilo</a></div>
<?py #endif ?>
<form name="postform" id="postform" action="/cgi/post" method="post" enctype="multipart/form-data">
  <input type="hidden" name="board" value="#{board}" /> <input type="hidden" name="mobile" value="true" /><input type="hidden" name="password" value="" />
  <div style="display:none;"><input type="text" name="name" maxlength="50" /><input type="text" name="email" maxlength="50" /></div>
  <?py if not disable_subject: ?>
  <input class="fld imp" type="text" name="subject" placeholder="Asunto#{" (opcional)" if board_type == '0' else ""}" maxlength="100" />
  <?py #endif ?>
  <?py if not disable_name: ?>
  <input class="fld" type="text" name="fielda" placeholder="Nombre (opcional)" maxlength="50" />
  <?py #endif ?>
  <input class="fld" type="text" name="fieldb" placeholder="E-mail (opcional)" maxlength="50" />
  <textarea name="message" rows="#{"8" if board_type == '1' else "6"}"></textarea>
<?py if allow_images: ?>
  <div class="file"><input type="file" name="file" class="fld" />
  <?py if allow_spoilers: ?>
    <label class="fld"><input type="checkbox" name="spoil" /> Spoiler</label>
  <?py #endif ?></div>
<?py #endif ?>
  <input id="post" type="submit" value="Crear nuevo hilo" />
</form>
<?py if allow_images: ?>
  <div class="rules">Formatos permitidos: #{', '.join(supported_filetypes).upper()}<br />Tamaño máximo: #{maxsize} KB</div>
<?py #endif ?>
</body>
</html>