<?py include('templates/mobile/base_top.html') ?>
<body>
<h2>#{board_name}@B.a.I. Móvil</h2>
<p>
<a href="http://m.bienvenidoainternet.org">Home</a> ·
<?py if mode == 1: ?>
Front Page ·
<a href="#{cgi_url}mobilelist/#{board}" rel="nofollow">Thread List</a> ·
<?py else: ?>
<a href="#{cgi_url}mobile/#{board}" rel="nofollow">Front Page</a> ·
Thread List ·
<?py #endif ?>
<a href="#{cgi_url}mobilenew/#{board}" rel="nofollow">New Thread</a>
<hr />
<?py iter = 1 ?>
<?py for thread in more_threads: ?>
#{iter}:
    <?py if int(thread["length"]) > 10: ?>
<a href="#{cgi_url}mobileread/#{board}/#{thread['id']}/l10" rel="nofollow">
    <?py else: ?>
<a href="#{cgi_url}mobileread/#{board}/#{thread['id']}" rel="nofollow">
    <?py #endif ?>
#{thread["subject"]}
    <?py if thread['locked'] == '1': ?>
<small>(cerrado)</small>
    <?py elif thread['locked'] == '2': ?>
<small>(permasage)</small>
    <?py #endif ?>
(#{int(thread["length"])-1})</a><br />
    <?py iter += 1 ?>
<?py #endfor ?>
<hr />
<a href="http://m.bienvenidoainternet.org">Home</a> ·
<?py if mode == 1: ?>
Front Page ·
<a href="#{cgi_url}mobilelist/#{board}" rel="nofollow">Thread List</a> ·
<?py else: ?>
<a href="#{cgi_url}mobile/#{board}" rel="nofollow">Front Page</a> ·
Thread List ·
<?py #endif ?>
<a href="#{cgi_url}mobilenew/#{board}" rel="nofollow">New Thread</a>
</p>
<hr />
<?py include('templates/mobile/base_bottom.html') ?>