<?py include('templates/mobile/base_top.html') ?>
<body class="txt">
<a name="top"></a>
<?py for thread in threads: ?>
<div class="nav">
  <div><a href="//m.bienvenidoainternet.org">Home</a><a href="#{cgi_url}mobile/#{board}/">Volver</a><a href="#form">&#9660;</a></div>
  <div><a href="#{cgi_url}mobileread/#{board}/#{thread['timestamp']}">Hilo completo</a><a href="#{cgi_url}mobileread/#{board}/#{thread['timestamp']}/-50">Primeros 50</a><a href="#{cgi_url}mobileread/#{board}/#{thread['timestamp']}/l10">Últimos 10</a></div>
</div>
<?py if thread['length'] > 1000: ?>
  <div class="stop red">■ El hilo superó los 1000 mensajes y ha sido cerrado.</div>
<?py elif thread['length'] > 950: ?>
  <div class="warn red">■ El hilo ha recibido más de 950 mensajes. Límite: 1000</div>
<?py elif thread['length'] > 900: ?>
  <div class="warn yellow">■ El hilo ha recibido más de 900 mensajes. Límite: 1000</div>
<?py #endif ?>
<div id="thread">
<h1>#{thread['subject']} <span>(#{thread['length']})</span></h1>
<?py for post in thread['posts']: ?>
<?py if post['IS_DELETED'] == '1': ?>
<div class="pst"><h3 class="del"><a href="#" class="num">#{str(post['num']).zfill(4)}</a> Eliminado por el usuario.</h3></div>
<?py elif post['IS_DELETED'] == '2': ?>
<div class="pst"><h3 class="del"><a href="#" class="num">#{str(post['num']).zfill(4)}</a> Eliminado por miembro del staff.</h3></div>
<?py else: ?>
<div id="p#{post['id']}" class="pst">
  <h3><a href="#" class="num">#{str(post['num']).zfill(4)}</a> #{post['name']} #{post['tripcode']}</h3>
  <?py if post['file']: ?><a href="/#{board}/src/#{post['file']}" target="_blank" class="thm"><img src="/#{board}/mobile/#{post['thumb']}" /><br />#{int(post['file_size'])//1024}KB #{post['file'].split(".")[1].upper()}</a><?py #endif ?>
  <div class="msg">#{post['message']}</div>
  <h4>#{post['timestamp_formatted']}</h4>
</div>
<?py #endif ?>
<?py #endfor ?>
<?py if thread['locked'] != '1': ?>
<a href="#{cgi_url}mobileread/#{board}/#{thread['timestamp']}/#{thread['length']}-n" id="n">Ver nuevos posts</a><span id="n2"></span>
<?py #endif ?>
<div class="nav">
  <div><a href="//m.bienvenidoainternet.org">Home</a><a href="#{cgi_url}mobile/#{board}/">Volver</a><a href="#top">&#9650;</a></div>
  <?py if nextrange: ?>
  <div><a href="#{cgi_url}mobileread/#{board}/#{thread['timestamp']}">Hilo completo</a><a href="#{cgi_url}mobileread/#{board}/#{thread['timestamp']}/-50">Primeros 50</a><a href="#{cgi_url}mobileread/#{board}/#{thread['timestamp']}/l10">Últimos 10</a></div>
  <?py #endif ?>
</div>
<?py if thread['locked'] != '1': ?>
  <form name="postform" id="postform" action="/cgi/post" method="post" enctype="multipart/form-data">
  <input type="hidden" name="board" value="#{board}" /><input type="hidden" name="parent" value="#{thread['id']}" /><input type="hidden" name="mobile" value="true" /><input type="hidden" name="password" value="" />
  <div style="display:none"><input type="text" name="name" /><input type="text" name="email" /></div>
  <input class="fld" type="text" name="fielda" placeholder="Nombre (opcional)" />
  <input class="fld" type="text" name="fieldb" placeholder="E-mail (opcional)" />
  <textarea name="message" rows="6"></textarea>
<?py if allow_image_replies: ?>
  <div class="file"><input type="file" name="file" class="fld" />
  <?py if allow_spoilers: ?>
    <label class="fld"><input type="checkbox" name="spoil" /> Spoiler</label>
  <?py #endif ?></div>
<?py #endif ?>
  <input id="post" type="submit" value="Responder" />
  </form>
<?py #endif ?>
</div>
<a name="form"></a>
<?py #endfor ?>
</body>
</html>