html,body{background:#EEF2FF;color:#000;font-family:Arial,Helvetica,"Nimbus Sans L",sans-serif}
a,a .name,.nav label:hover{color:#34345C}
a.rep{color:#000;text-decoration:underline}
a:visited{color:#34345C}
a:hover,a:hover .name,.nav label:hover{color:#DD0000}
.replymode,.extramode{color:#FFF}
.replymode{background:#0010E0}
.extramode{background:#0040E0}
.postblock{background:#9988EE;color:#000;font-weight:bold}
.q{color:#789922}
.fs{text-decoration:none}
.subj{color:#0F0C5D;font-weight:bold}
.name{color:#228854}
.name b{color:#117743}
.omitted{color:#070707}
.reply,#q-p{background:#D6DAF0;color:#000}
.abbrev{color:#707070}
.highlight{background:#c1c6e2}
.managertable td{background:#9AD2F6;color:#000}
.managertable th{background:#0F8FE1;color:#000}
#catalog .thread:hover{background:#D6DAF0;box-shadow:0 0 5px 5px #D6DAF0}
#catalog .replies{color:#555555;font-weight:bold}
.yt{background:#E3E6F5;border:1px solid #C1C6E7}