html,body{background:#FFE;color:#800000;font-family:Arial,Helvetica,"Nimbus Sans L",sans-serif}
a,a .name,.nav label{color:#0000EE}
a.rep{color:#800000;text-decoration:underline}
a:hover,a:hover .name,.nav label:hover{color:#D00}
.replymode,.extramode{color:#FFF}
.replymode{background:#E04000}
.extramode{background:#0040E0}
.postblock{background:#EEAA88;font-weight:bold}
.q{color:#789922}
.subj{color:#CC1105;font-weight:bold}
.name{color:#228854}
.name b{color:#117743}
.omitted{color:#707070}
.reply,#q-p{background:#F0E0D6}
.abbrev{color:#707070}
.highlight{background:#F0C0B0}
.managertable td{background:#EEEECC;color:#800000}
.managertable th{background:#AAAA66;color:#400000}
#catalog .thread:hover{background:#F0E0D6;box-shadow:0 0 5px 5px #F0E0D6}
#catalog .replies{color:#909090;font-weight:bold}
.yt{background:#F2E5DD;border:1px solid #E7CFC1;color:#500000}