html, body {
  background-color: #FFFFEE;
  color: #800000;
}
a {
	color:#0000EE;
}
a:hover {
	color:#DD0000;
}
.header {
  font-weight: bold;
  font-size: 32px;
}
.slogan {
  font-style: italic;
  font-size: 16px;
}
.newstitle {
  background-color: #d9bfb7;
  font-size: 14px;
  font-weight: bold;
}

#statistics {
  text-align: center;
  font-size: small;
}
.postername {
	color:#AFD775;
	font-weight:bold;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
}