body{background:#fff}
body,textarea{color:#000}
a,#n2{color:#D60}
a:active .name,h4 a:active,a:active,#n2:active{color:#fa4}
.del a,.name,h4 a,h4{color:#000}
h1{border-bottom:2px solid #F70;padding:0 10px;margin:0 -10px 10px}
h2{background:#eee;border-bottom:2px solid #F70;display:inline-block;margin:0 0 0.3em -3px;padding:3px}
h2 a{color:#000}
h2 a:active{color:#FA4}
h3{background:#EEE;border-bottom:2px solid #F70;display:inline-block;font-size:18px;margin:0.7em 0;padding:0 2px 1px}
hr{display:none}
input,textarea{border:1px solid #000}
#titlebox .innerbox:first-child{border-bottom:2px solid #bbb}
.outerbox{background:#eee;border-bottom:2px solid #bbb}
.innerbox{margin:0;padding:10px}
#threadlist{background:#fff;border:1px inset #bbb}
.mainpage .thread{padding:5px}
#thread_nav{border-bottom:2px solid #F70;padding-bottom:8px;padding-left:6px}
.mainpage .first div.msg::first-letter{font-size:1.5em;text-transform:uppercase}
.name em{color:#009;font-style:normal}
.omit{border-bottom:3px solid #EEE;margin-bottom:1em}
.q,.abbrev{color:#7f7f7f}
.yt{background:#f2f2f2;border:1px solid #bbb}
.msg hr{display:block;max-width:500px;margin-left:0}
.deleted{color:#afafaf;margin-bottom:1em}
#q-p{background:#f2f2f2;border:1px solid #bbb;margin-right:15px;position:absolute}
.lastposts{padding:8px}
.size{color:#D60}
.threadpage .threadlinks{margin:0 0 3px}
.thread form,.threadpage form,.lastposts{border-bottom:2px solid #BBB;background:#eee}
.thread form,.threadpage form{padding:10px}
form .msg{border:1px dashed #000;background:#fff;margin:0;padding:0.5em 0.15em}
.footer{margin:15px 0}
.threads th{background:#ddd}
.threads tr:nth-child(odd){background:#eee}