body{background:url('../img/picnicbg.gif') #dedede}
body,textarea,.lastposts a,.del a,#titlebox .threadnav a{color:#333}
body.threadpage{margin-top:0}
a,a .name{color:#ce0909}
a,.lastposts #n2{text-decoration:none}
.msg a,h4 a{text-decoration:underline}
a:active,a:active .name{color:#872a2a}
form .msg{background:url('../img/picnicmid.gif') #fff;border:1px dashed #a7502f;margin:0;padding:0.5em 0.15em}
h1{background:url('../img/picnictop.gif') #ffa2a3;padding:10px;border:1px dashed #663403;border-radius:10px}
h2{line-height:1;margin:0 0 15px}
h2 small{color:#583304}
h2 a{color:#583304}
h3{color:#583304;margin:0 0 10px;padding-top:10px}
hr{display:none}
input[type=password],input[type=text],textarea{background:#FFF;border:1px inset #e75253}
#main_nav{background:#fff}
.innerbox{margin:0;padding:0}
#titlebox{margin-bottom:0}
#titlebox .threadnav{margin:13px}
#rules{background:url('../img/picnicmid.gif') #fff;padding:10px;border:1px dashed #a7502f;border-radius:10px}
.search{text-align:center;margin-top:10px}
.links{color:#000;margin-bottom:10px;padding-top:5px}.links a b{font-weight:normal}
.links a,.threadlinks a,#thread_nav a,input[type=button],input[type=submit]{background:url(../img/picnicbtn.gif) #e75253;border:1px dashed #FFF;color:#FFF;display:inline-block;padding:2px}
.threadlinks a{border:0}
#thread_nav {margin-top:-1px;margin-bottom:3px}
#threadlinks{background:url('../img/picnicthr1.gif') repeat-x center #fff4e0;height:40px;margin-bottom:0;padding:5px}
#threadlinks,.threadpage .thread{border-top-left-radius:10px;border-top-right-radius:10px}
#threadlist{background:url('../img/picnicthr2.gif') #fff4e0}
.thread{background:url('../img/picnicthr3.gif') #fae6c1}
.mainpage .thread{border-radius:10px;padding:15px}
.reply,.deleted{background:#fff url('../img/picnicbdy.gif');border-image:url('/static/css/img/picnichr.gif') 1;border-top:2px solid transparent;padding:0.6em 8px}
.reply.first{border:0}
.name,.abbrev{color:#523804}
.name em{color:#009}
.msg{margin-bottom:0}
.q{color:#666}
.yt{color:#fff!important;background:url('../img/picnicbtn.gif') #e75253;border:1px dashed #fff}
.reply .yt{text-decoration:none}
.msg hr{display:block}
#q-p{background:url('../img/picnicfg.gif') #ececec;border:1px dashed #999}
.deleted{color:#afafaf;margin-bottom:0}
.size{color:#583304;margin-bottom:0;padding:0.3em 0}
.thread form{margin-top:15px;padding-left:0}
.threadpage .thread{padding:0 15px}
.threadpage form,.lastposts{background:url('../img/picnicthr3.gif') #fae6c1}
.threadpage form{padding:0.3em 15px 15px;border-bottom-left-radius:10px;border-bottom-right-radius:10px}
.threadpage .threadlinks{margin:0 0 2px}
.lastposts{border-top:1px dashed #663403;border-bottom:1px dashed #663403;padding:8px}
.formpad{padding-left:48px}
#threadform{background:url('../img/picnicbtm.gif') #ffb3b4;border:1px dashed #693807;border-radius:10px;padding:15px;color:#300}
.threads table{background:url('../img/picnicthr3.gif') #fae6c1;border:1px dashed #a7502f}
.threads .thread{background:none}
.threads th{background:url('../img/picnicbtm.gif') #ffb3b4}
.threads tr:nth-child(odd){background:url('../img/picnicthr2.gif') #fff4e0;}