<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?py if 'matome' in _context: ?>
  <title>#{matome} - #{board_long}</title>
<?py elif board: ?>
  <title>#{board_long}</title>
  <?py else: ?>
  <title>#{title}</title>
<?py #endif ?>
  <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
<?py if replythread and 'threads' in _context and 'preview' in _context: ?>
  <meta property="og:site_name" content="Bienvenido a Internet IB" />
  <meta property="twitter:site" content="Bienvenido a Internet IB" />
  <meta name="description" content="${preview}" />
  <meta property="og:title" content="${threads[0]['posts'][0]['subject']} - ${board_name}" />
  <meta property="og:description" content="${preview}" />
  <?py if threads[0]['posts'][0]['thumb']: ?>
  <meta property="twitter:image" content="https://bienvenidoainternet.org/#{board}/thumb/#{threads[0]['posts'][0]['thumb']}" />
  <meta property="og:image" content="https://bienvenidoainternet.org/#{board}/thumb/#{threads[0]['posts'][0]['thumb']}" />
  <?py #endif ?>
  <meta property="twitter:title" content="${threads[0]['posts'][0]['subject']} - ${board_name}" />
  <meta name="twitter:description" content="${preview}" />
<?py #endif ?>
  <meta name="robots" content="#{"noindex" if noindex else "index, follow"}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="#{static_url}img/favicon.ico" />
  <link rel="stylesheet" href="#{static_url}css/global.css?v=5" />
<?py if not force_css: ?>
  <link rel="stylesheet" id="css" href="#{static_url}css/#{styles[styles_default].lower()}.css" />
<?py else: ?>
  <link rel="stylesheet" type="text/css" href="#{force_css}" />
<?py #endif ?>
<?py if board == "2d": ?>
  <link rel="stylesheet" href="#{static_url}css/txt/sjis.css" />
<?py #endif ?>
  <script type="text/javascript" src="#{static_url}js/weabot.js?v=5"></script>
  <script type="text/javascript" src="#{static_url}js/aquiencitas.js"></script>
  <script type="text/javascript" src="#{static_url}js/autorefresh.js?v=2"></script>
</head>
<body#{' class="res"' if replythread else ''}>
  <div id="main_nav">[<a href="/" target="_top">Bienvenido a Internet</a>] [<?py include('templates/navbar.html') ?>]
  <?py if not force_css: ?>
    <span>[<span>Apariencia:</span>
    <?py for title in styles: ?> <a href="#" class="ss">#{title}</a><?py #endfor ?>]</span>
  <?py #endif ?></div>
  <div class="logo">
  <?py if board == 'anarkia': ?>
    <img src="#{banner_url}" width="#{banner_width}" height="#{banner_height}" /><br />
  <?py #endif ?>
  <?py if board: ?>
    #{board_long}
  <?py else: ?>
    <img src="/static/img/default.png" width="500" height="81" />
  <?py #endif ?>
  </div>
  <hr width="90%" size="1" />
