<?py include('templates/base_top.html') ?>
<?py if replythread or oek_finish: ?>
  &#91;<a href="#{boards_url}#{board}/">掲示板に戻る</a>&#93;
<?py #endif ?>
<?py if replythread: ?>
  &#91;<a href="/cgi/catalog/${board}">カタログ</a>&#93;
  &#91;<a href="/cgi/mobileread/#{board}/#{replythread}">スマホ</a>&#93;
  &#91;<a href="#bottom" name="top">ボトムへ行く</a>&#93;<div class="replymode">レス送信モード</div>
<?py #endif ?>
<a name="postbox"></a>
<div class="postarea">
<?py if allow_oekaki and not oek_finish: ?>
  <center><form action="#{cgi_url}oekaki/paint" method="post" enctype="multipart/form-data">
  <input type="hidden" name="board" value="#{board}" />
  <?py if replythread: ?>
    <input type="hidden" name="parent" value="#{replythread}" />
  <?py #endif ?>
  <select name="oek_applet">
  <option value="neo">PaintBBS NEO</option>
  <option value="tegaki">Tegaki</option>
  <option value="wpaint">wPaint</option>
  <option value="shipainter|n|n">Shi-Painter</option>
  <option value="shipainter|y|n">Shi-Painter Pro</option>
  </select>
  <span id="oek_size"><input type="text" name="oek_x" size="4" maxlength="4" value="300" /> x <input type="text" name="oek_y" size="4" maxlength="4" value="300" /></span>
  <input type="submit" value="お絵かきする" /><br /><a href="#{cgi_url}oekaki/finish/#{board}/#{replythread}">アップロード途中の画像</a>
  </form></center>
<?py #endif ?>
<?py if oek_finish: ?>
<center style="margin-bottom:1em;"><table border=""><tr><td>
  <?py if oek_finish == "no": ?>
    <font size="+3">画像が見当たりません</font>
  <?py else: ?>
    <img src="#{boards_url}oek_temp/#{oek_finish}.png?ts=#{ts}" />
  <?py #endif ?>
</td></tr></table></center>
<?py #endif ?>
<form name="postform" id="postform" action="#{cgi_url}post" method="post" enctype="multipart/form-data">
  <input type="hidden" name="board" value="#{board}" />
  <?py if replythread: ?>
    <input type="hidden" name="parent" value="#{replythread}" />
    <input type="hidden" name="default_subject" value="#{default_subject}" />
  <?py #endif ?>
  <div style="display:none;">Trampa: <input type="text" name="name" size="25" /> <input type="text" name="email" size="25" /></div>
  <table class="postform">
    <?py if not disable_name: ?>
    <tr>
      <td class="postblock">おなまえ</td>
      <td><input type="text" name="fielda" tabindex="1" size="25" accesskey="n" /></td>
    </tr>
    <?py #endif ?>
    <tr>
      <td class="postblock">E-mail</td>
      <td>
        <input type="text" name="fieldb" tabindex="2" size="25" accesskey="e" />
        <?py if disable_subject: ?>
          <?py if replythread: ?>
            <input type="submit" tabindex="5" value="返信" accesskey="z" />
          <?py else: ?>
            <input type="submit" tabindex="5" value="スレッドを立てる" accesskey="z" />
          <?py #endif ?>
        <?py #endif ?>
      </td>
    </tr>
    <?py if not disable_subject: ?>
    <tr>
    <td class="postblock">題　　名</td>
    <td>
      <input type="text" name="subject" tabindex="3" size="35" maxlength="100" accesskey="s" />
      <?py if replythread: ?>
        <input type="submit" tabindex="5" value="返信" accesskey="z" />
      <?py else: ?>
        <input type="submit" tabindex="5" value="スレッドを立てる" accesskey="z" />
      <?py #endif ?>
    </td>
    </tr>
    <?py #endif ?>
    <tr>
    <td class="postblock">コメント</td>
    <td><textarea name="message" tabindex="4" cols="50" rows="6" accesskey="m"></textarea></td>
    </tr>
    <?py if not oek_finish: ?>
    <?py if (replythread and allow_image_replies) or (not replythread and allow_images): ?>
    <tr>
    <td class="postblock">添付File</td>
    <td>
      <input type="file" name="file" tabindex="6" accesskey="f" />
      <?py if allow_spoilers: ?>
        <label>[<input type="checkbox" name="spoil" tabindex="7" id="spoil" />Spoiler<!--ネタバレ-->]</label>
      <?py #endif ?>
      <?py if allow_noimage and not replythread: ?>
        <label>[<input type="checkbox" name="noimage" tabindex="8" id="noimage" />画像なし]</label>
      <?py #endif ?>
    </td>
    </tr>
    <?py #endif ?>
    <?py elif oek_finish != 'no': ?>
      <input type="hidden" name="oek_file" value="#{oek_finish}" />
    <?py #endif ?>
    <tr>
    <td class="postblock">削除キー</td>
    <td><input type="password" name="password" tabindex="9" size="8" accesskey="p" /> (削除用)</td>
    </tr>
    <tr>
    <td colspan="2" class="rules">
      <ul>
        #{postarea_desc}
        <li>添付可能：#{', '.join(supported_filetypes).upper()}. #{maxsize}KBまで. #{maxdimensions}x#{maxdimensions}以上は縮小.</li>
        <li><a href="#{cgi_url}catalog/${board}">カタログ</a> (ソート：<a href="/cgi/catalog/${board}?sort=1">新順</a>/<a href="/cgi/catalog/${board}?sort=2">古順</a>/<a href="/cgi/catalog/${board}?sort=3">多順</a>/<a href="/cgi/catalog/${board}?sort=4">少順</a>)</li>
        <li>スレは<b>#{maxage}</b>日間経つと自動的に消されられます.</li>
        <li><a href="/guia.html">使い方</a> · <a href="/faq.html">よくある質問</a> · <a href="/bai/">管理人への連絡</a></li>
        <li style="font-size:150%;">新しい板: <a href="/n/">Naturaleza</a></li>
      </ul>
    </td>
    </tr>
  </table>
</form>
</div>
<hr />
<?py if postarea_extra: ?>
<center>#{postarea_extra}</center>
<hr />
<?py #endif ?>
<form id="delform" action="#{cgi_url}delete" method="post">
  <input type="hidden" name="board" value="#{board}" />
  <?py if threads: ?>
  <?py for thread in threads: ?>
    <?py if not replythread: ?>
      <span id="unhide#{thread['id']}#{board}" style="display:none">スレ<a href="#{boards_url}#{board}/res/#{thread['id']}.html">#{thread['id']}</a>は隠しました. <a class="tt" href="#">スレを表示</a></span>
    <?py #endif ?>
    <div id="thread#{thread['id']}#{board}" class="thread" data-length="#{thread['length']}">
    <?py for post in thread['posts']: ?>
      <?py if int(post['parentid']) != 0: ?>
        <table><tr><td class="ell">…</td>
        <td class="reply" id="reply#{post['id']}">
      <?py elif post['file']: ?>
        <?py if post['image_width'] != '0': ?>
        <div class="fs">画像ファイル名：<a href="#{images_url}#{board}/src/#{post['file']}" class="expimg" target="_blank" data-id="#{post['id']}" data-thumb="#{images_url}#{board}/thumb/#{post['thumb']}" data-w="#{post['image_width']}" data-h="#{post['image_height']}" data-tw="#{post['thumb_width']}" data-th="#{post['thumb_height']}">#{post['file']}</a>-(#{post['file_size']} B, #{post['image_width']}x#{post['image_height']})
        <?py else: ?>
        <div class="fs">画像ファイル名：<a href="#{images_url}#{board}/src/#{post['file']}" target="_blank">#{post['file']}</a>-(#{post['file_size']} B)
        <?py #endif ?>
          <?py if post['file'][-3:] == 'gif': ?>
            <span class="thumbmsg">アニメGIF</span>
          <?py elif not post['thumb'].startswith('mime'): ?>
            <span id="thumbmsg#{post['id']}" class="thumbmsg">サムネ表示</span>
          <?py #endif ?>
          <?py if not replythread: ?>
            [<a href="#" title="スレを隠す" class="tt">隠す</a>]
          <?py #endif ?>
        </div>
        <a target="_blank" href="#{images_url}#{board}/src/#{post['file']}" id="thumb#{post['id']}">
          <?py if post['file'][-3:] == 'gif': ?>
            <img class="thumb" alt="#{post['id']}" src="#{images_url}#{board}/src/#{post['file']}" width="#{post['thumb_width']}" height="#{post['thumb_height']}" />
          <?py else: ?>
            <img class="thumb" alt="#{post['id']}" src="#{images_url}#{board}/thumb/#{post['thumb']}" width="#{post['thumb_width']}" height="#{post['thumb_height']}" />
          <?py #endif ?>
        </a>
      <?py #endif ?>
      <a name="#{post['id']}"></a>
      <?py if post['IS_DELETED'] == '1': ?>
        <span class="deleted">No.#{post['id']}はユーザーに削除されました.</span>
      <?py elif post['IS_DELETED'] == '2': ?>
        <span class="deleted">No.#{post['id']}は管理人に削除されました.</span>
      <?py else: ?>
        #{'<div class="info">' if post['parentid'] != '0' else ''}<label><input type="checkbox" name="delete" value="#{post['id']}" /><span class="subj">#{post['subject'] if post['subject'] else default_subject}</span></label>
        <?py if post['email']: ?>
          <?py if post['tripcode']: ?>
            Name <a href="mailto:#{post['email']}"><span class="name"><b>#{post['name']}</b> #{post['tripcode']}</span></a>
          <?py else: ?>
            Name <a href="mailto:#{post['email']}"><span class="name"><b>#{post['name']}</b></span></a>
          <?py #endif ?>
        <?py else: ?>
          <?py if post['tripcode']: ?>
            Name <span class="name"><b>#{post['name']}</b> #{post['tripcode']}</span>
          <?py else: ?>
            Name <span class="name"><b>#{post['name']}</b></span>
          <?py #endif ?>
        <?py #endif ?>
        <span class="date" data-unix="#{post['timestamp']}">#{post['timestamp_formatted']}</span>
        <?py if replythread: ?>
          <span class="reflink"><a href="##{post['id']}">No.</a><a href="#" class="postid">#{post['id']}</a></span>
        <?py else: ?>
          <span class="reflink"><a href="#{boards_url}#{board}/res/#{post['parentid'] if post['parentid'] != "0" else post['id']}.html##{post['id']}">No.</a><a href="#{boards_url}#{board}/res/#{post['parentid'] if post['parentid'] != "0" else post['id']}.html#i#{post['id']}">#{post['id']}</a></span>
        <?py #endif ?>
        <a class="rep" href="#{cgi_url}report/#{board}/#{post['id']}" rel="nofollow">rep</a>
        <?py if int(post['expires']): ?>
          <small>${post['expires_formatted']}頃消えます</small>
        <?py #endif ?>
        <?py if int(post['parentid']) != 0: ?>
          </div>
          <?py if post['file']: ?>
            <div class="fs">
            <?py if post['image_width'] != '0': ?>
              <a href="#{images_url}#{board}/src/#{post['file']}" class="expimg" target="_blank" data-id="#{post['id']}" data-thumb="#{images_url}#{board}/thumb/#{post['thumb']}" data-w="#{post['image_width']}" data-h="#{post['image_height']}" data-tw="#{post['thumb_width']}" data-th="#{post['thumb_height']}">#{post['file']}</a>-(#{post['file_size']} B, #{post['image_width']}x#{post['image_height']})
            <?py else: ?>
              <a href="#{images_url}#{board}/src/#{post['file']}" target="_blank">#{post['file']}</a>-(#{post['file_size']} B)
            <?py #endif ?>
            <?py if post['file'][-3:] == 'gif': ?>
              <span class="thumbmsg">アニメGIF</span>
            <?py elif not post['thumb'].startswith('mime'): ?>
              <span class="thumbmsg">サムネ表示</span>
            <?py #endif ?>
            </div>
            <a target="_blank" href="#{images_url}#{board}/src/#{post['file']}" id="thumb#{post['id']}">
            <?py if post['file'][-3:] == 'gif': ?>
              <img class="thumb" alt="#{post['id']}" src="#{images_url}#{board}/src/#{post['file']}" width="#{post['thumb_width']}" height="#{post['thumb_height']}" />
            <?py else: ?>
              <img class="thumb" alt="#{post['id']}" src="#{images_url}#{board}/thumb/#{post['thumb']}" width="#{post['thumb_width']}" height="#{post['thumb_height']}" />
            <?py #endif ?>
            </a>
          <?py #endif ?>
        <?py #endif ?>
        <?py if int(post['parentid']) == 0 and not replythread: ?>
          [<a href="#{boards_url}#{board}/res/#{post['id']}.html" class="hsbn">返信</a>]
          <?py if post['file'] == '': ?>
            [<a href="#" title="スレを隠す" class="tt">隠す</a>]
          <?py #endif ?>
        <?py #endif ?>
        <?py if post['thumb_width'] != '0' and post['parentid'] != '0': ?>
          <blockquote style="margin-left:#{int(post['thumb_width'])+40}px;">
        <?py else: ?>
          <blockquote>
        <?py #endif ?>
            #{post['message']}
          </blockquote>
        <?py if not replythread and post['shortened']: ?>
          <blockquote class="abbrev">(投稿は長すぎ... 全部読むには<a href="#{boards_url}#{board}/res/#{post['id'] if post['parentid'] == "0" else post['parentid']}.html##{post['id']}">こっちら</a>へ)</blockquote>
        <?py #endif ?>
        <?py if int(post['expires_alert']): ?>
          <div style="color:red;font-weight:bold">このスレは古いので、もうすぐ消えます。</div>
        <?py #endif ?>
      <?py #endif ?>
      <?py if int(post['parentid']) == 0: ?>
        <?py if not replythread: ?>
          <?py if int(thread['omitted']) > 0: ?>
            <span class="omitted">レス${thread['omitted']}件省略。全て読むには返信ボタンを押してください。</span>
          <?py #endif ?>
        <?py #endif ?>
      <?py else: ?>
        </td></tr></table>
      <?py #endif ?>
    <?py #endfor ?>
    <div class="cut"></div></div>
    <?py if replythread: ?>
      <hr />
        <div class="nav">&#91;<a href="#{boards_url}#{board}/">掲示板に戻る</a>&#93;
        &#91;<a href="/cgi/catalog/${board}">カタログ</a>&#93;
        &#91;<a href="/cgi/mobileread/#{board}/#{replythread}">スマホ</a>&#93;
        &#91;<a href="#top" name="bottom">トップへ戻る</a>&#93;</div>
    <?py #endif ?>
      <hr />
  <?py #endfor ?>
  <div class="userdelete">
    【記事削除】<label>[<input type="checkbox" name="imageonly" id="imageonly" />画像だけ消す]</label><br />
    削除キー<input type="password" name="password" size="8" /> <input name="deletepost" value="削除" type="submit" />
  </div>
  <?py #endif ?>
</form>
<?py if page_navigator: ?>
  <table border="1" class="pg"><tbody><tr>#{page_navigator}</tr></tbody></table><br />
<?py #endif ?>
<?py include('templates/base_bottom.html') ?>