<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Archivo de #{board_name}@Bienvenido a Internet BBS</title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
	<meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="#{static_url}img/favicon.ico" />
	<style type="text/css">
    body {margin:8px}
    h1 {margin:0 0 20px}
    pre {margin:0}
    .fake {color:#0000EE;text-decoration:underline;cursor:pointer}
    .fake:active {color:#FF0000}
    img {width:20px;height:22px;margin-right:4px}
    td {text-align:left;vertical-align:bottom;padding-right:14px}
    .r {text-align:right}
    a:link, a:hover {color:#0000EE}
    a:active {color:#FF0000}
    a:visited {color:#551A8B}
  </style>
</head>
<body>
<h1>Índice de /#{board}/kako/</h1>
<pre>
  <table style="border-collapse:collapse;">
    <tr>
      <th><img src="/blank.png" /></th>
      <td><span class="fake">Nombre</span></td>
      <td><span class="fake">Tamaño</span></td>
      <td><span class="fake">Descripción</span></td>
    </tr>
    <tr>
      <td colspan="4" style="padding:0"><hr /></td>
    </tr>
    <tr>
      <th><img src="/back.png" /></th>
      <td><a href="/#{board}/">..</a></td>
      <td class="r">-</td>
      <td></td>
    </tr>
    <?py for thread in threads: ?>
    <tr>
      <th><img src="/text.png" /></th>
      <td><a href="#{boards_url}#{board}/read/#{thread['timestamp']}/">${thread['timestamp']}.json</a></td>
      <?py if int(thread['length']) > 1000: ?>
      <td class="r">1KR</td>
      <?py else: ?>
      <td class="r">${thread['length']}R</td>
      <?py #endif ?>
      <td>${thread['subject']}</td>
    </tr>
    <?py #endfor ?>
  </table>
  <hr />
</pre>
<address>weabot/0.8.4 (CentOS) Servidor ubicado en bienvenidoainternet.org Puerto 80</address>
</body>
</html>