<span class="navbar">
  [ <a title="Zona de Calidad VIP" href="/zonavip/">Club VIP</a> /
  <a title="General" href="/g/">General</a> /
  <a title="Actualidad y noticias" href="/noticias/">Noticias</a> /
  <a title="Ciencias y tecnolog&iacute;a" href="/t/">Tecnolog&iacute;a</a> /
  <a title="Vidya" href="/juegos/">Videojuegos</a> /
  <a title="Parafernalia &Ntilde;o&ntilde;a" href="/jp/">2D/General</a> /
  <a title="Música" href="/musica/">Música</a> /
  <a title="0" href="/0/"><img src="/static/img/0tiny.gif" style="border-style:none;padding:0;margin:0 0 -2px" alt="0" /></a> /
  <a title="Discusi&oacute;n de B.a.I." href="/bai/">Meta</a> ]
</span>