<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>#{header}</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link rel="shortcut icon" href="logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/home.css" />
<style type="text/css">
.main{display:inline-block;margin:5px;width:90%;}
h1{font-size:} h2{margin:0;padding:0;font-size:20px;} h3{margin:0;margin-bottom:0.5em;padding:0;font-weight:normal;font-size:14px;}
#newsarea{text-align:left;padding:0 5em 0 5em;}
.message{margin-bottom:2em;}
</style>
</head>
<body>
<center class="main">
<div class="main">
  <div class="logo" style="margin:0 auto;"></div>
  <strong>#{header}</strong><br>
  <em>#{slogan}</em>
</div>
<hr />
<h2>Noticias</h2>
<a href="#{home_url}bai.html" target="_top">Volver</a>
<hr style="margin-bottom:2em;"/>
<?py if posts: ?>
<div id="newsarea">
<?py for post in posts: ?>
	<h2><a href="##{post['id']}" name="#{post['id']}">#</a> ${post['title']}</h2>
	<h3><span class="postername">${post['name']}</span> : ${post['timestamp_formatted']}</h3>
	<p class="message">#{post['message']}</p>
<?py #endfor ?>
<?py #endif ?>
</div>
<hr />
<a href="#{home_url}bai.html" target="_top">Volver</a>
<hr />
<div class="footer">B.a.I. - 2010-2016 · Contacto: <a href="mailto:burocracia@bienvenidoainternet.org">burocracia@bienvenidoainternet.org</a></div>
</center>