<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Has posteado en Bienvenido a Internet BBS/IB</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta http-equiv="refresh" content="0;url=#{url}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="text-align:center;">
<h1>Gracias por tu post</h1><h3>${message}</h3><em>(por favor espera)</em>
<?py if timetaken: ?><p style="font-size:small">Tiempo usado: #{timetaken}</p><?py #endif ?>
</body>
</html>