<?py include('templates/base_top.html') ?>
&#91;<a href="#{boards_url}#{board}/">Volver</a>&#93;<div class="extramode">Lista de Hilos</div>
<div style="margin-left:2em;margin-top:1em;margin-bottom:1em;">
<?py iter = 1 ?>
<?py for thread in more_threads: ?>
  #{iter}:
  <a href="#{boards_url}#{board}/res/#{thread['id']}.html" rel="nofollow"><strong>
    <?py if thread['subject'] != '': ?>
  #{thread["subject"]}
    <?py else: ?>
  Sin asunto
    <?py #endif ?>
  </strong> - <em>#{thread['message']}</em></a> 
    <?py if thread['locked'] == '1': ?>
  <small>(cerrado)</small>
    <?py elif thread['locked'] == '2': ?>
  <small>(permasage)</small>
    <?py #endif ?>
  &#91;#{int(thread["length"])-1} respuesta(s)&#93;<br />
    <?py iter += 1 ?>
<?py #endfor ?>
</div>
<?py include('templates/base_bottom.html') ?>
