<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?py if replythread and threads: ?>
  <title>#{threads[0]['subject']} - #{board_name}@Bienvenido a Internet BBS</title>
<?py elif board: ?>
  <title>#{board_long}</title>
<?py else: ?>
  <title>#{title}</title>
<?py #endif ?>
  <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
<?py if replythread and threads: ?>
  <meta property="og:site_name" content="Bienvenido a Internet BBS" />
  <meta property="twitter:site" content="Bienvenido a Internet BBS" />
  <meta name="description" content="${preview}" />
  <meta property="og:title" content="${threads[0]['subject']} - ${board_name}" />
  <meta property="og:description" content="${preview}" />
  <meta property="twitter:title" content="${threads[0]['subject']} - ${board_name}" />
  <meta name="twitter:description" content="${preview}" />
<?py #endif ?>
  <meta name="robots" content="#{"noindex" if noindex else "index, follow"}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="#{static_url}img/favicon.ico" />
  <link rel="stylesheet" href="/static/css/txt/bbs.css" />
<?py if not force_css: ?>
  <link rel="stylesheet" id="css" href="#{static_url}css/txt/#{txt_styles[txt_styles_default].lower()}.css" />
<?py else: ?>
  <link rel="stylesheet" type="text/css" href="#{force_css}" />
<?py #endif ?>
<?py if board == 'zonavip' or board == 'world' or board == 'juegos' or board == 'salon2d': ?>
  <link rel="stylesheet" href="/static/css/txt/sjis.css" />
<?py #endif ?>
  <script type="text/javascript" src="#{static_url}js/weabotxt.js"></script>
  <script type="text/javascript" src="#{static_url}js/aquiencitas.js"></script>
<?py if replythread: ?>
  <script type="text/javascript" src="#{static_url}js/autorefresh.js"></script>
<?py #endif ?>
</head>
