<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>#{threads[0]['subject']} - Archivo de #{board_name}@Bienvenido a Internet BBS</title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
<?py if threads: ?>
  <meta property="og:site_name" content="Bienvenido a Internet BBS" />
  <meta property="twitter:site" content="Bienvenido a Internet BBS" />
  <meta name="description" content="${preview}" />
  <meta property="og:title" content="${threads[0]['subject']} - ${board_name}" />
  <meta property="og:description" content="${preview}" />
  <meta property="twitter:title" content="${threads[0]['subject']} - ${board_name}" />
  <meta name="twitter:description" content="${preview}" />
<?py #endif ?>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="#{static_url}img/favicon.ico" />
  <link rel="stylesheet" href="/static/css/txt/bbs.css" />
<?py if not force_css: ?>
  <link rel="stylesheet" id="css" href="#{static_url}css/txt/#{txt_styles[txt_styles_default].lower()}.css" />
<?py else: ?>
  <link rel="stylesheet" type="text/css" href="#{force_css}" />
<?py #endif ?>
<?py if board == 'zonavip' or board == 'world' or board == 'juegos' or board == 'salon2d': ?>
  <link rel="stylesheet" href="/static/css/txt/sjis.css" />
<?py #endif ?>
  <script type="text/javascript" src="#{static_url}js/weabotxt.js"></script>
  <script type="text/javascript" src="#{static_url}js/aquiencitas.js"></script>
</head>
<body class="threadpage archived">
<?py if threads: ?>
<?py for thread in threads: ?>
<div id="thread_nav">
  <a href="/" name="top" target="_top">Bienvenido a Internet</a>
  <a href="#{boards_url}cgi/mobileread/#{board}/#{thread['timestamp']}">★Móvil★</a>
  <a href="#{boards_url}#{board}/">■Volver al BBS■</a>
  <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/">Hilo completo</a>
  <?py if thread['length'] > 100: ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/-100" rel="nofollow">1-</a>
  <?py #endif ?>
  <?py for i in range(thread['length'] / 100): ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/#{(i+1)*100+1}-#{(i+2)*100}" rel="nofollow">#{(i+1)*100+1}-</a>
  <?py #endfor ?>
  <?py if thread['length'] > 51: ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/l50" rel="nofollow">Últimos 50</a>
  <?py #endif ?>
  <a href="#bottom">&#9660;</a>
</div>
<hr /><div class="stop red">■ Este hilo se encuentra guardado en el archivo</div><hr />
<div class="thread" data-length="#{thread['length']}">
  <h3>#{thread['subject']} <span>(${(str(thread['length'])+" respuestas") if thread['length'] > 1 else "Una respuesta"})</span></h3>
  <?py for post in thread['posts']: ?>
    <?py if post['IS_DELETED'] == '1': ?>
      <h4 class="deleted">#{post['num']} : Mensaje eliminado por el usuario.</h4>
    <?py elif post['IS_DELETED'] == '2': ?>
      <h4 class="deleted">#{post['num']} : Mensaje eliminado por miembro del staff.</h4>
    <?py else: ?>
    <?py if post['num'] == 1: ?>
      <div class="reply first" data-n="#{post['num']}">
    <?py else: ?>
      <div class="reply" data-n="#{post['num']}">
    <?py #endif ?>
        <h4>#{post['num']} :
        <?py if post['email']: ?>
          <?py if post['tripcode']: ?>
            <a href="mailto:#{post['email']}"><span class="name"><b>#{post['name']}</b> #{post['tripcode']}</span></a>
          <?py else: ?>
            <a href="mailto:#{post['email']}"><span class="name"><b>#{post['name']}</b></span></a>
          <?py #endif ?>
        <?py else: ?>
          <?py if post['tripcode']: ?>
            <span class="name"><b>#{post['name']}</b> #{post['tripcode']}</span>
          <?py else: ?>
            <span class="name"><b>#{post['name']}</b></span>
          <?py #endif ?>
        <?py #endif ?> : <span class="date">#{post['timestamp_formatted']}</span></h4>
        <div class="msg">#{post['message']}</div>
      </div>
    <?py #endif ?>
  <?py #endfor ?>
  <?py if 'size' in thread: ?>
    <div class="size">#{thread['size']}</div>
  <?py #endif ?>
</div>
<hr /><div class="stop red">■ Este hilo se encuentra guardado en el archivo</div><hr />
<form class="threadlinks">
  <a href="#{boards_url}cgi/mobileread/#{board}/#{thread['timestamp']}">★Móvil★</a>
  <a href="#{boards_url}#{board}/">■Volver al BBS■</a>
  <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/">Hilo completo</a>
  <?py if prevrange: ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/#{prevrange}" rel="nofollow">Anteriores 100</a>
  <?py #endif ?>
  <?py if nextrange: ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/#{nextrange}" rel="nofollow">Próximos 100</a>
  <?py #endif ?>
  <?py if thread['length'] > 51: ?>
     <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/l50" rel="nofollow">Últimos 50</a>
  <?py #endif ?>
  <a href="#top">&#9650;</a>
</form>
<?py #endfor ?>
<?py #endif ?>
<div class="end">weabot.py ver <?py include('templates/revision.html') ?> Bienvenido a Internet BBS/IB</div>
<a name="bottom"></a>
</body>
</html>