<?py include('templates/txt_base_top.html') ?>
<body class="threadpage">
<?py if threads: ?>
<?py for thread in threads: ?>
<div id="thread_nav">
  <a href="/" name="top" target="_top">Bienvenido a Internet</a>
  <a href="#{boards_url}cgi/mobileread/#{board}/#{thread['timestamp']}" rel="nofollow">★Mobile★</a>
  <a href="#{boards_url}#{board}/">■Return to BBS■</a>
  <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/">Entire thread</a>
  <?py if thread['length'] > 100: ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/-100" rel="nofollow">1-</a>
  <?py #endif ?>
  <?py for i in range(thread['length'] / 100): ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/#{(i+1)*100+1}-#{(i+2)*100}" rel="nofollow">#{(i+1)*100+1}-</a>
  <?py #endfor ?>
  <?py if thread['length'] > 51: ?>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/l50" rel="nofollow">Last 50</a>
  <?py #endif ?>
  <a href="#bottom">&#9660;</a>
</div>
<hr />
<?py if thread['length'] > 1000: ?>
  <div class="stop red">The thread got over 1000 posts and has been closed.</div>
<?py elif thread['length'] > 950: ?>
  <div class="warn red">The thread has reached 950 posts. When it reaches 1000 posts it will be closed.</div>
<?py elif thread['length'] > 900: ?>
  <div class="warn yellow">The thread has reached 900 posts. When it reaches 1000 posts it will be closed.</div>
<?py #endif ?>
<div class="thread" data-length="#{thread['length']}">
  <h3>#{thread['subject']} <span>(${(str(thread['length'])+" replies") if thread['length']>1 else "1 reply"})</span></h3>
  <?py for post in thread['posts']: ?>
  <?py if post['IS_DELETED'] == '1': ?>
    <h4 class="deleted">#{post['num']} : Post deleted by user.</h4>
  <?py elif post['IS_DELETED'] == '2': ?>
    <h4 class="deleted">#{post['num']} : Post deleted by staff.</h4>
  <?py else: ?>
    <?py if post['num'] == 1: ?>
      <div class="reply first" data-n="#{post['num']}">
    <?py else: ?>
      <div class="reply" data-n="#{post['num']}">
    <?py #endif ?>
      <h4><a href="#" class="num">#{post['num']}</a> :
      <?py if post['email']: ?>
        <?py if post['tripcode']: ?>
          <a href="mailto:#{post['email']}"><span class="name"><b>#{post['name']}</b> #{post['tripcode']}</span></a>
        <?py else: ?>
          <a href="mailto:#{post['email']}"><span class="name"><b>#{post['name']}</b></span></a>
        <?py #endif ?>
      <?py else: ?>
        <?py if post['tripcode']: ?>
          <span class="name"><b>#{post['name']}</b> #{post['tripcode']}</span>
        <?py else: ?>
          <span class="name"><b>#{post['name']}</b></span>
        <?py #endif ?>
      <?py #endif ?> : <span class="date" data-unix="#{post['timestamp']}">#{post['timestamp_formatted']}</span>
      <span class="del"><a href="#{cgi_url}report/#{board}/#{post['id']}/#{post['num']}" rel="nofollow">rep</a> <a href="#">del</a></span></h4>
      <?py if post['file']: ?>
        <a href="#{images_url}#{board}/src/#{post['file']}" target="_blank" class="thumb"><img src="#{images_url}#{board}/thumb/#{post['thumb']}" width="#{post['thumb_width']}" height="#{post['thumb_height']}" /><div>${int(post['file_size'])//1024}KB ${post['file'].split(".")[1].upper()}</div></a>
      <?py #endif ?>
      <div class="msg">
        #{post['message']}
      </div>
    </div>
  <?py #endif ?>
  <?py #endfor ?>
  <div class="size">#{thread['size']}</div>
</div>
<hr />
<?py if thread['locked'] != '1': ?>
  <div class="lastposts"><a href="#{boards_url}#{board}/read/#{thread['timestamp']}/#{thread['length']}-n" id="n" rel="nofollow">Show new posts</a></div>
  <hr />
<?py #endif ?>
<?py if thread['length'] > 1000: ?>
  <div class="stop red">The thread got over 1000 posts and has been closed.</div>
<?py elif thread['length'] > 950: ?>
  <div class="warn red">The thread has reached 950 posts. When it reaches 1000 posts it will be closed.</div>
<?py elif thread['length'] > 900: ?>
  <div class="warn yellow">The thread has reached 900 posts. When it reaches 1000 posts it will be closed.</div>
<?py #endif ?>
<form id="postform#{thread['id']}" name="postform" action="#{cgi_url}post" method="post" enctype="multipart/form-data">
  <div class="threadlinks">
    <a href="#{boards_url}cgi/mobileread/#{board}/#{thread['timestamp']}" rel="nofollow">★Mobile★</a>
    <a href="#{boards_url}#{board}">■Return to BBS■</a>
    <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/">Entire thread</a>
    <?py if prevrange: ?>
      <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/#{prevrange}" rel="nofollow">Previous 100</a>
    <?py #endif ?>
    <?py if nextrange: ?>
      <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/#{nextrange}" rel="nofollow">Next 100</a>
    <?py #endif ?>
    <?py if thread['length'] > 51: ?>
      <a href="#{boards_url}#{board}/read/#{thread['timestamp']}/l50" rel="nofollow">Last 50</a>
    <?py #endif ?>
    <a href="#top">&#9650;</a>
  </div>
    <input type="hidden" name="board" value="#{board}" /><input type="hidden" name="parent" value="#{thread['id']}" /><input type="hidden" name="password" value="" />
  <?py if thread['locked'] != '1': ?>
    <div style="display:none;">Trampa: <input type="text" name="name" size="13" /> <input type="text" name="email" size="13" /></div>
    <input type="submit" value="Responder" accesskey="z" /> <input type="button" name="preview" value="Previsualizar" /> Nombre: <input type="text" name="fielda" size="13" accesskey="n" /> E-mail: <input type="text" name="fieldb" size="13" accesskey="e" /><br />
    <textarea name="message" cols="80" rows="7" accesskey="m"></textarea><br />
    <div id="preview#{thread['id']}" class="msg" style="display:none;"></div>
    <?py if allow_image_replies: ?>
      <input type="file" name="file" />
    <?py #endif ?>
  <?py #endif ?>
</form>
<?py #endfor ?>
<?py #endif ?>
<div class="end">weabot.py ver <?py include('templates/revision.html') ?> Bienvenido a Internet BBS/IB</div>
<a name="bottom"></a>
</body>
</html>