<?py include('templates/txt_base_top.html') ?>
<body class="threads">
  <center>
    <a href="/" target="_top">Bienvenido a Internet</a>
    <a href="#{boards_url}#{board}/">■Volver al BBS■</a>
  <?py if archive: ?>
    <a href="#{boards_url}#{board}/kako/">Ver hilos archivados</a>
  <?py #endif ?>
    <h1 style="font-size:1.5em;margin:16px 0;">#{board_long}</h1>
    <div class="listmenu"><div>
    <?py if not force_css: ?>Apariencia:
      <?py for title in txt_styles[:-1]: ?>
        <a href="#" class="ss">#{title}</a> |
      <?py #endfor ?>
      <a href="#" class="ss">#{txt_styles[-1]}</a></div>
    <?py #endif ?>
    <div>Orden: <a href="?">#{"<b>Normal</b>" if i_sort == "" else "Normal"}</a> |
    <a href="?sort=1">#{"<b>Nuevos hilos</b>" if i_sort == "1" else "Nuevos hilos"}</a> |
    <a href="?sort=2">#{"<b>Viejos hilos</b>" if i_sort == "2" else "Viejos hilos"}</a> |
    <a href="?sort=3">#{"<b>Más respuestas</b>" if i_sort == "3" else "Más respuestas"}</a> |
    <a href="?sort=4">#{"<b>Menos respuestas</b>" if i_sort == "4" else "Menos respuestas"}</a></div>
    <div>Botón de prueba: <a href="#" id="compact">TEST</a></div></div>
    <input type="hidden" name="board" value="#{board}" /><input type="text" id="search" placeholder="Buscar en asuntos..." style="margin-bottom:16px;padding:5px;max-width:500px;width:100%;">
  </center>
  <div id="content" class="list">
  <div id="header" class="row">
    <div>#</div>
    <div style="width:100%;">Asunto</div>
    <div>Fecha de creación</div>
    <div>Resp.</div>
    <div>Última respuesta</div>
  </div>
  <?py iter = 1 ?>
  <?py for thread in more_threads: ?>
  <div class="row">
    <div class="pos">#{iter}:</div>
    <div class="thread"><a href="#{boards_url}#{board}/read/#{thread['timestamp']}/${'l50' if int(thread['length']) > 50 else ''}">#{thread["subject"]}</a></div>
    <div class="date created" data-unix="#{thread['timestamp']}">#{thread['timestamp_formatted']}</div>
    <div class="com">#{thread["length"]}</div>
    <div class="date last" data-unix="#{timestamps[iter-1][0]}">#{timestamps[iter-1][1]}</div>
  </div>
  <?py iter += 1 ?>
  <?py #endfor ?>
  </div>
  <center>
  <div style="margin:16px 0;">[<a href="#{boards_url}#{board}#newthread"><b>Crear nuevo hilo</b></a>]</div>
  weabot.py ver <?py include('templates/revision.html') ?> Bienvenido a Internet BBS/IB
  </center>
</body>
</html>