<?py include('templates/base_top.html') ?>
<?py include('templates/manage/menu.html') ?>
<center>
<div class="replymode">Nuevo board</div>
<form action="#{cgi_url}manage/addboard" method="post">
  <table>
  <tr>
    <td class="postblock">Directorio</td>
    <td><input type="text" name="dir" maxlength="16" style="width:100%;" /></td>
  </tr>
  <tr>
    <td class="postblock">Nombre</td>
    <td><input type="text" name="name" maxlength="64" style="width:100%;" /></td>
  </tr>
  <tr>
  <td colspan="2"><input type="submit" name="submit" style="width:100%;" value="Agregar board" /></td>
  </table>
</form>
</center>
<hr />
<?py include('templates/base_bottom.html') ?>