<?py include('templates/base_top.html') ?>
<?py include('templates/manage/menu.html') ?>
<center>
<div class="replymode">Nuevo Board</div>
<form action="#{cgi_url}manage/addboard" method="post">
<table>
<tr><td class="postblock">Directorio</td><td><input type="text" name="dir" /></td></tr>
<tr><td class="postblock">Nombre</td><td><input type="text" name="name" /></td></tr>
</table>
<input type="submit" name="submit" value="Agregar Board" />
</form>
</center>
<hr />
<?py include('templates/base_bottom.html') ?>