<?py include('templates/base_top.html') ?>
<?py include('templates/manage/menu.html') ?>
<center>
<div class="replymode">Cambiar Contraseña</div>
<form action="#{cgi_url}manage/changepassword" method="post">
<table>
 <tr><td class="postblock">Clave actual</td><td><input type="password" name="oldpassword" /></td></tr>
 <tr><td class="postblock">Nueva clave</td><td><input type="password" name="newpassword" /></td></tr>
 <tr><td class="postblock">Nueva clave (confirmar)</td><td><input type="password" name="newpassword2" /></td></tr>
</table>
<input type="submit" value="Cambiar" />
</form>
</center>
<hr />
<?py include('templates/base_bottom.html') ?>