<?py include('templates/base_top.html') ?>
<?py include('templates/manage/menu.html') ?>
<center>
  <div class="replymode">Eliminar por IP</div>
  <form action="#{cgi_url}manage/ipdelete" name="ipdeleteform" method="post">
    <table>
    <tr>
      <td class="postblock">Board(s)</td>
      <td>
        <input type="checkbox" name="board_all" id="all" value="1" /><label for="all" style="font-weight:bold">Todos los boards</label><hr />
        <?py for board in boards: ?>
        <input type="checkbox" name="board_#{board['dir']}" id="#{board['dir']}" value="1" /><label for="#{board['dir']}">#{board['name']} <span style="opacity:0.5">(/#{board['dir']}/)</span></label><br />
      <?py #endfor ?>
      </td>
    </tr>
    <tr>
      <td class="postblock">Dirección IP</td>
      <td><input type="text" name="ip" style="width:100%;" /></td>
    </tr>
    <tr><td colspan="2"><input type="submit" style="width:100%;" value="Eliminar posts" /></td></tr>
    </table>
  </form>
</center><hr />
<?py include('templates/base_bottom.html') ?>
