<?py include('templates/base_top.html') ?>
<?py include('templates/manage/menu.html') ?>
<center>
  #{page}
  <form action="#{cgi_url}manage" method="post">
    <table>
      <tr>
        <td class="postblock">Usuario</td>
        <td><input type="text" name="username" /></td>
      </tr>
      <tr>
        <td class="postblock">Contraseña</td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td colspan="2"><input id="submit" type="submit" name="submit" style="width:100%;" value="Entrar" /></td>
      </tr>
    </table>
  </form>
</center>
<hr />
<?py include('templates/base_bottom.html') ?>