<style>#adminmenu {text-align:center;}
#adminmenu table {display:inline-block;font-size:10pt;margin-top:2px;text-align:left;}
#adminmenu a {font-weight:bold;}
label {vertical-align:top;}
dd p {margin:0;}</style><input type="hidden" name="board" value="" />
<?py if validated: ?>
<div id="adminmenu">¡Bienvenido, <b><acronym title="Cuenta creada el #{added}">#{username}</acronym></b>! ¡Eres
<?py if rights == '0': ?><b>Accionista</b>
<?py elif rights == '1': ?><b>Accionista</b>
<?py elif rights == '2': ?><span class="developer">Developer</span>
<?py elif rights == '3': ?><span class="moderator">Moderador</span>
<?py #endif ?> de #{site_title}!<br />
<center>
<table class="reply">
<tr><td>Principal:</td>
<td>- <a href="#{cgi_url}manage">Inicio</a> - <a href="#{cgi_url}manage/changepassword">Cambiar contrase&ntilde;a</a> - <a href="#{cgi_url}manage/newschannel">News Channel</a> - <a href="//webmail.bienvenidoainternet.org">Correo</a> - <a href="#{cgi_url}manage/logout">Cerrar sesi&oacute;n</a> -</td></tr>
<tr><td>Posts:</td>
<td>- <a href="#{cgi_url}manage/mod">Modbrowse</a> - <a href="#{cgi_url}manage/ipshow">Ver por IP</a> - <a href="#{cgi_url}manage/recyclebin">Papelera de reciclaje</a> - <a href="#{cgi_url}manage/recent_images">Im&aacute;genes recientes</a> -</td></tr>
<tr><td>Moderaci&oacute;n:</td>
<td>- <a href="#{cgi_url}manage/reports">Denuncias</a> - <a href="#{cgi_url}manage/ipdelete">Eliminar por IP</a> - <a href="#{cgi_url}manage/bans">Lista de bans</a> - <a href="#{cgi_url}manage/move">Mover hilo</a> - <a href="#{cgi_url}manage/filters">Filtros</a> - <a href="#{cgi_url}manage/quotes">Frases</a> -</td></tr>
<?py if administrator: ?>
<tr><td>Administraci&oacute;n:</td>
<td>- <a href="#{cgi_url}manage/rebuild">Reconstruir</a> - <a href="#{cgi_url}manage/news?type=1">Noticias</a> - <a href="#{cgi_url}manage/news?type=2">Twitter</a> - <a href="#{cgi_url}manage/board">Opciones de board</a> - <a href="#{cgi_url}manage/addboard">Agregar board</a> - <a href="#{cgi_url}manage/lockboard">Cerrar board</a> -</td></tr>
<?py if rights == '0' or rights == '2': ?>
<tr><td>Staff:</td>
<td>- <a href="#{cgi_url}manage/staff">Lista de staff</a> - <a href="#{cgi_url}manage/logs">Registro de acciones</a> -</td></tr>
<?py #endif ?>
<?py #endif ?>
</table></center></div>
<hr />
<?py #endif ?>